<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <th:block th:replace="component/config :: config"></th:block>
    <th:block th:replace="component/sidebar :: sidebar"></th:block>
</head>
<style>


    head, body, footer {
        background: lightgrey;
        background-image: url("/img/backimg/정거장메인짤.gif");
        background-size: cover;
        font-family: 'SUITE-Regular';

    }

</style>
<body>

</body>

<footer>
    <th:block th:replace="component/memberNav :: memberNav"></th:block>
</footer>

</html>