<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h2>좌석이동화면 - 좌석 선택</h2>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button> <br>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button> <br>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button>
    <button>이동 가능</button> <br>

</div>

</body>
</html>