<!DOCTYPE html>

<th:block th:fragment="adminNav">


  <!-- 스위트 얼럿 cdn추가  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

  <style>
    body {
      background-color: #4b5359;
    }

    #nav {
      text-align: center;
      margin: 0 auto;
    }

    ul {
      display: inline-block;
      list-style: none;
      margin-top: 10px;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 15px;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      text-decoration: none;
    }

    .modal-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .modal-body {
      flex-grow: 1;
      text-align: left;
    }

    .modal-close {

      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }


  </style>

  <div id="nav">
    <ul>
      <li style="background-color: white; ">
        <a href="/" style="color: #4872bb">🕹 <img src="/img/Q_PC_Room_Logo.png" style="width: 80px; height: 24px"> 🎮</a>
      </li>
      <li>
        <a>회원관리</a>
      </li>
      <li>
        <a>상품관리</a>
      </li>
      <li>
        <a>게임관리</a>
      </li>
      <li>
        <a onclick="category()">카테고리 관리</a>
      </li>
      <li>
        <a>채팅</a>
      </li>
    </ul>
  </div>

  <!-- 회원관리 모달 창 -->
  <div id="memberModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <span class="modal-close" onclick="closeModal('memberModal')">&times;</span>
        <h3>회원관리</h3>
        <!-- 모달 내용 -->
        <p>모달 내용을 추가하세요.</p>
      </div>
    </div>
  </div>

  <!-- 상품관리 모달 창 -->
  <div id="productModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <span class="modal-close" onclick="closeModal('productModal')">&times;</span>
        <h3>상품관리</h3>
        <!-- 모달 내용 -->
        <div id="section" class="product-section">
          <table>
            <tr>
              <th>id</th>
              <th>상품 이름</th>
              <th>상품 가격</th>
              <th>상품 개수</th>
            </tr>
            <c:forEach items="${productList}" var="product">
              <tr>
                <td>${product.id}</td>
                <td>${product.productName}</td>
                <td>${product.productPrice}</td>
                <td>${product.productCount}</td>
                <td>
                  <button onclick="openModal('productDetailModal')">조회</button>
                </td>

                <td>
                  <button onclick="productDelete()">삭제</button>
                </td>
              </tr>
            </c:forEach>
          </table>
        </div> <br>
        <button onclick="openModal('productSaveModal')" style="text-align: left;">상품 등록</button> <br>

      </div>
    </div>
  </div>

  <!-- 게임관리 모달 창 -->
  <div id="gameModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" style="margin: 0 auto;">
        <span class="modal-close" onclick="closeModal('gameModal')">&times;</span>
        <h3>게임관리</h3>
        <!-- 모달 내용 -->
        <div id="section" class="game-section">
          <table>
            <tr>
              <th>id</th>
              <th>게임 이미지</th>
              <th>게임 이름</th>
            </tr>
            <c:forEach items="${gameList}" var="game">
              <tr>
                <td>${game.id}</td>
                <td>${game.gameImg}</td>
                <td>${game.gameName}</td>
                <td>
                  <button onclick="openModal('gameUpdateModal')">수정</button>
                </td>

                <td>
                  <button onclick="gameDelete()">삭제</button>
                </td>
              </tr>
            </c:forEach>
          </table>
        </div> <br>
        <button onclick="openModal('gameSaveModal')" style="text-align: left;">게임 등록</button> <br>
      </div>
    </div>
  </div>

  <!-- 게임 등록 모달 창 -->
  <div id="gameSaveModal" class="modal"  style="margin: 0 auto;padding: 20px;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="margin: 0 auto; width: 80%">
        <span class="modal-close" onclick="closeModal('gameSaveModal')">&times;</span>
        <h3>게임 등록</h3>
        <!-- 모달 내용 -->
        <form action="/game/save" method="post" id="saveForm" enctype="multipart/form-data">
          <select name="gameCategory" id="game-save-category" class="form-control">
            <option value="">선택해주세요</option>
            <option value="">인기게임</option>
            <option value="">스포츠/FPS게임</option>
            <option value="">캐주얼게임</option>
            <option value="">스팀/CD게임</option>
          </select> <br>
          <input type="text" placeholder="게임이름" class="form-control"> <br>
          <input type="text" placeholder="게임링크" class="form-control"> <br>
          <input type="file" name="boardFile" class="form-control"> <br>
          <button style="margin: 0 auto;">게임등록</button>
        </form> <br>
      </div>
    </div>
  </div>

  <!-- 게임 수정 모달 창 -->
  <div id="gameUpdateModal" class="modal" style="margin: 0 auto;padding: 20px;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="margin: 0 auto; width: 80%">
        <span class="modal-close" onclick="closeModal('gameUpdateModal')">&times;</span>
        <h3>게임 수정</h3>
        <!-- 모달 내용 -->
        <form action="/game/update" method="post" id="updateForm" enctype="multipart/form-data">
          <select name="gameCategory" id="game-update-category" class="form-control">
            <option value="">선택해주세요</option>
            <option value="">인기게임</option>
            <option value="">스포츠/FPS게임</option>
            <option value="">캐주얼게임</option>
            <option value="">스팀/CD게임</option>
          </select> <br>
          <input type="text" placeholder="게임이름" class="form-control"> <br>
          <input type="text" placeholder="게임링크" class="form-control"> <br>
          <input type="file" name="boardFile" class="form-control"> <br>
          <button style="margin: 0 auto;">게임수정</button>
        </form> <br>


      </div>
    </div>
  </div>

  <!--  &lt;!&ndash; 카테고리 등록 모달 창 &ndash;&gt;-->
  <!--  <div id="categoryModal" class="modal">-->
  <!--    <div class="modal-dialog modal-dialog-centered">-->
  <!--    <div class="modal-content">-->
  <!--      <span class="modal-close" onclick="closeModal('categoryModal')">&times;</span>-->
  <!--      <h3>카테고리 관리</h3>-->
  <!--      &lt;!&ndash; 모달 내용 &ndash;&gt;-->
  <!--      <p>모달 내용을 추가하세요.</p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  </div>-->

  <!-- 채팅 모달 창 -->
  <div id="chatModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <span class="modal-close" onclick="closeModal('chatModal')">&times;</span>
        <h3>채팅</h3>
        <!-- 모달 내용 -->
        <p>모달 내용을 추가하세요.</p>
      </div>
    </div>
  </div>






  <script>
    // 모달 열기
    function openModal(modalId) {
      var modal = document.getElementById(modalId);
      modal.classList.add('show');
    }

    // 모달 닫기
    function closeModal(modalId) {
      var modal = document.getElementById(modalId);
      modal.classList.remove('show');
    }

    // 링크 클릭 시 모달 열기
    var links = document.querySelectorAll("#nav li a");
    links.forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();
        var modalId = this.textContent.toLowerCase() + "Modal";
        openModal(modalId);
      });
    });

    // 각 모달의 닫기 버튼 이벤트 처리
    var closeButtons = document.querySelectorAll(".modal-close");
    closeButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        var modalId = this.parentNode.parentNode.getAttribute("id");
        closeModal(modalId);
      });
    });

    // 각 링크 클릭 시 모달 열기
    var memberLink = document.querySelector("#nav li:nth-child(2) a");
    memberLink.addEventListener("click", function() {
      openModal("memberModal");
    });

    var productLink = document.querySelector("#nav li:nth-child(3) a");
    productLink.addEventListener("click", function() {
      openModal("productModal");
    });

    var gameLink = document.querySelector("#nav li:nth-child(4) a");
    gameLink.addEventListener("click", function() {
      openModal("gameModal");
    });

    // 카테고리 모달 사용 안함(바뀔수도,,)
    // var categoryLink = document.querySelector("#nav li:nth-child(5) a");
    // categoryLink.addEventListener("click", function() {
    //   openModal("categoryModal");
    // });

    var chatLink = document.querySelector("#nav li:nth-child(6) a");
    chatLink.addEventListener("click", function() {
      openModal("chatModal");
    });

    function openLink(url) {
      window.location.href = url; // 해당 주소로 이동합니다.
    }

    function category() {
      Swal.fire({
        title: "카테고리",
        text: "카테고리 관리 창입니다.",
        showCancelButton: true,
        confirmButtonText: "게임",
        cancelButtonText: "상품",
        allowOutsideClick: false, // alert창 밖을 눌러도 화면고정
        allowEscapeKey: true // ESC 키를 누르면 꺼짐
      }).then((result) => {
        if (result.dismiss === Swal.DismissReason.esc) {
          return; // ESC 키를 클릭 시 종료
        }

        if (result.isConfirmed) {
          openLink("/GameCategory/game");
        } else {
          openLink("/category/product");
        }
      });
    }

    function gameDelete() {
      Swal.fire({
        title: "게임 삭제",
        text: "게임을 삭제하시겠습니까?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "예",
        cancelButtonText: "아니오"
      }).then((result) => {
        if (result.isConfirmed) {
          // 삭제 작업 수행
          // 여기에 삭제 로직을 추가하세요.
          Swal.fire("삭제되었습니다.", "", "success");
        }
      });
    }

  </script>
</th:block>
</html>
