<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="config">
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">

  <!--  axios를 위한 cdn복사 주소    -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 부트스트랩 아이콘사용을 위한 CDN 주소  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- jQuery 라이브러리의 CDN 주소 -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</th:block>
<body>

</body>
</html>