<!DOCTYPE html>

<th:block th:fragment="memberNav">
  <meta charset="UTF-8">

  <div id="nav">

    <ul>
      <li>
        <a href="/" style="color: #4872bb"> 🕹 Q PC ROOM 🎮 </a>
      </li>

      <li>
        <a>인기게임</a> <br>
        <img src="/img/navImg/인기게임-디아블로.jpg" alt="Image Description">

      </li>

      <li>
        <a>스포츠/FPS게임</a>  <br>
        <img src="/img/navImg/스포츠-피파.jpg" alt="Image Description">
      </li>

      <li>
        <a>캐주얼게임</a>  <br>
        <img src="/img/navImg/캐주얼게임-크아.jpg" alt="Image Description">


      </li>


      <li>
        <a>스팀/CD게임</a>  <br>
        <img src="/img/navImg/스팀-배그.png" alt="Image Description">


      </li>

      <li>
        <a>카카오톡</a>  <br>
        <img src="/img/navImg/카카오톡.png" alt="Image Description">

      </li>

      <li>
        <a>디스코드</a>  <br>
        <img src="/img/navImg/디스코드.jpg" alt="Image Description">

      </li>

    </ul>


  </div>
</th:block>

</html>