<!DOCTYPE html>

<th:block th:fragment="memberNav">
    <meta charset="UTF-8">

    <div id="nav-form" style="position: absolute; bottom: 20px; margin-left: 300px;">


        <div id="nav" style="text-align: center">

            <ul style="display: flex;justify-content: center;">
                <li style="position: relative;">
                    <a class="Login-Logo" href="/"
                       style="color: #2d4675;font-weight: 600;text-decoration: none;font-size: 20px;">
                        🕹<img class="nav-img-" th:src="@{/img/Q_PC_Room_Logo.png}" alt="Image Description">🎮 </a>
                </li>


                <li class="Category-box">
                    <a class="Category-name"> BEST GAME <br> 인기게임 </a> <br>
                    <img class="nav-img-" th:src="@{/img/navImg/인기게임-디아블로.jpg}" alt="Image Description">

                </li>

                <li class="Category-box">
                    <a class="Category-name"> SPORTS/FPS <br> 스포츠/FPS게임 </a>  <br>
                    <img class="nav-img-" th:src="@{/img/navImg/스포츠-피파.jpg}" alt="Image Description">
                </li>

                <li class="Category-box">
                    <a class="Category-name"> CASUAL <br> 캐주얼게임 </a>  <br>
                    <img class="nav-img-" th:src="@{/img/navImg/캐주얼게임-크아.jpg}" alt="Image Description">
                </li>


                <li class="Category-box">
                    <a class="Category-name"> STEAM/CD <br> 스팀/CD게임 </a>  <br>
                    <img class="nav-img-" th:src="@{/img/navImg/스팀-배그.png}" alt="Image Description">


                </li>

                <li class="Category-box">
                    <a class="Category-name"> KAKAOTALK <br> 카카오톡 </a>  <br>
                    <img class="nav-img-" th:src="@{/img/navImg/카카오톡.png}" alt="Image Description">

                </li>

                <li class="Category-box">
                    <a class="Category-name"> DISCORD <br> 디스코드 </a>  <br>
                    <img th:src="@{/img/navImg/디스코드.jpg}" alt="Image Description">

                </li>

            </ul>


        </div>
    </div>
</th:block>

</html>