<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="sidebar">
    <head>
        <th:block th:replace="component/config :: config"></th:block>

        <style>
            .slides {
                display: none;
            }

            .active {
                display: block;
            }

            .item {
                display: block;
                margin-bottom: 10px;
            }

            .container {
                display: flex;
                align-items: flex-start;
            }

            .item-four {
                width: 100px; /* 이미지 4의 고정 너비 */
                height: 110px; /* 이미지 비율에 따라 자동 조정 */
            }

            .item-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 10px;
                margin-left: 10px;
            }

            .item-container .item {
                width: 100px; /* 이미지 1, 2, 3의 너비 */
                height: auto; /* 이미지 비율에 따라 자동 조정 */
            }

            .ad-img {
                margin-right: 10px; /* 이미지 4의 왼쪽 여백과 동일한 값 */
                margin-left: 10px; /* 이미지 4의 왼쪽 여백 */
            }

            label {
                color: white;
                font-size: 14px;
            }

            /* 모달 스타일 */
            .modal {
                display: none; /* 초기에는 모달 숨김 */
                justify-content: space-between;
                position: fixed;
                z-index: 9999;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content-wrapper {
                display: flex;
            }

            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                flex: 1;
                margin-right: 20px;
            }

            .modal-close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }

            .modal-close:hover,
            .modal-close:focus {
                color: #000;
                text-decoration: none;
            }

            /* 버튼 스타일 */
            button {
                padding: 5px;
                background-color: #262525;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 5px;
            }

            table {
                border: 1px solid black;
            }
        </style>


    </head>
    <body>
    <div id="sidebar" class="side-bar">
        <div class="member-area" style="text-align: center">
            <ul>
                <a href="/seat"><img src="/img/icon/좌석이동-아이콘.gif" style="width: 20px; height: 20px">자리이동</a>
                <a onclick="logout()"><img src="/img/icon/종료-아이콘.png" style="width: 20px; height: 20px">사용종료</a>
                <button class="toggle-button" onclick="toggleSidebar()">ㅡ</button>
                <br>
            </ul>


            <input type="text" placeholder="좌석번호">
            <button><img src="/img/icon/충전-아이콘.gif" style="width: 20px; height: 20px"/>요금충전</button>
            <br>
            <label>충전 시간 :</label>
            <span name="time" th:text="${timeFormatted}" style="color: white"></span><br>

            <label>잔여 시간 :</label>
            <span id="overTime" name="overTime" th:text="${overTimeFormatted}" style="color: white"></span><br>

            <label>사용 시간 :</label>
            <span name="totalTime" th:text="${totalTimeFormatted}" style="color: white"></span><br>
            <input type="hidden" th:value="${memberDTO.id}" name="id" id="id">


                <button><img src="/img/icon/채팅-아이콘.gif" style="width: 20px; height: 20px" />채팅</button>
                <button><img src="/img/icon/호출-아이콘.gif" style="width: 20px; height: 20px" />호출</button>

                <button onclick="memberDetail()"><img src="/img/icon/회원정보-아이콘.gif" style="width: 20px; height: 20px" />회원정보</button>

<!--                <button onclick="memberFood()"><img src="/img/icon/주문-아이콘.gif" style="width: 20px; height: 20px" />먹거리</button>-->
            <button type="button" data-bs-toggle="modal" data-bs-target="#member-food">
                <img src="/img/icon/주문-아이콘.gif" style="width: 20px; height: 20px" />먹거리
            </button>
                <button onclick="openModal('modal1')"><img src="/img/icon/주문내역-아이콘.gif" style="width: 20px; height: 20px" />주문내역</button> <br>


        </div>

        <div class="ad-area" style="margin-right: 10px">
            <div class="container">
                <div class="item-container">
                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://overwatch.blizzard.com/ko-kr/" target="_blank">
                            <img class="item" src="/img/오버워치-아이콘.png" alt="Image 1" style="height: 30px;">
                            <label>오버워치</label>
                        </a>
                    </div>

                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://playvalorant.com/ko-kr/" target="_blank">
                            <img class="item" src="/img/발로란트-아이콘.png" alt="Image 2" style="height: 30px;">
                            <label>발로란트</label>
                        </a>
                    </div>

                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://pubg.game.daum.net/pubg/index.daum" target="_blank">
                            <img class="item" src="/img/배그-아이콘.png" alt="Image 3" style="height: 30px;">
                            <label>배틀그라운드</label>
                        </a>
                    </div>
                </div>

                <div class="ad-img">
                    <a href="https://sa.nexon.com/main/index.aspx" target="_blank">
                        <img class="slides active" src="/img/광고-서든.png" alt="adImage 1"
                             style="width: 200px; height: 250px;border-radius: 10px;">
                    </a>
                    <a href="https://fifaonline4.nexon.com/main/index" target="_blank">
                        <img class="slides" src="/img/광고-피파.png" alt="adImage 2"
                             style="width: 200px; height: 250px;border-radius: 10px;">
                    </a>
                </div>

                <div class="item-container">
                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://www.leagueoflegends.com/ko-kr/" target="_blank">
                            <img class="item" src="/img/리그오브레전드-아이콘.png" alt="Image 5" style="height: 30px;">
                            <label>리그오브레전드</label>
                        </a>
                    </div>

                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://sa.nexon.com/main/index.aspx" target="_blank">
                            <img class="item" src="/img/서든어택-아이콘.png" alt="Image 6" style="height: 30px;">
                            <label>서든어택</label>
                        </a>
                    </div>

                    <div style="border: 1px solid black; margin-bottom: 10px; text-align: center; border-radius: 10px; box-shadow: 2px 2px 5px grey;">
                        <a href="https://maplestory.nexon.com/Home/Main" target="_blank">
                            <img class="item" src="/img/메이플스토리-아이콘.png" alt="Image 7" style="height: 30px;">
                            <label>메이플스토리</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <span class="modal-close" onclick="closeModal('modal1')">&times;</span>
                <h2>상세주문서</h2>
                <table>
                    <tr>
                        <th>회원ID</th>
                        <th>좌석번호</th>
                        <th>주문음식</th>
                        <th>요청사항</th>
                        <th>결제금액</th>
                    </tr>
                    <tr th:each="cart: ${orderList}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.orderName}"></td>
                        <td th:text="${order.orderCount}"></td>
                        <td th:text="${order.orderPrice}"></td>
                        <td th:text="${order.orderDate}"></td>
                    </tr>
                </table>
                <img src="/img/Q_PC_Room_Logo.png" style="width: 200px; height: 100px">
            </div>

            <div class="modal-content">
                <span class="modal-close" onclick="closeModal('modal1')">&times;</span>
                <h2>주문내역</h2>
                <table>
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>금액</th>
                        <th>주문일자</th>
                    </tr>
                    <tr th:each="cart: ${orderList}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.orderName}"></td>
                        <td th:text="${order.orderCount}"></td>
                        <td th:text="${order.orderPrice}"></td>
                        <td th:text="${order.orderDate}"></td>
                    </tr>
                </table>
                <img src="/img/Q_PC_Room_Logo.png" style="width: 200px; height: 100px">
            </div>
        </div>
    </div>
    <!-- 요금충전 버튼 모달 -->
    <div class="modal fade" id="payReloadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">요금충전</h5>
                    <input type="hidden" id="member-id" th:value="${memberDTO.id}">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-weight: bold">카카오페이 현재 사용가능</p>
                    <div class="row">
                        <button class="col-6 btn btn-primary" onclick="selectTime('50', '1000')">50분 1000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('100', '2000')">1시간40분 2000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('150', '3000')">2시간30분 3000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('300', '5000')">5시간 5000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('420', '7000')">7시간 7000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('660', '10000')">11시간 10000원</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            var sideBar = document.querySelector('.side-bar');
            var adArea = document.querySelector('.ad-area');

            sideBar.classList.toggle('minimized');
            adArea.classList.toggle('minimized');
        }

        // 자동 슬라이드쇼
        // 3초마다 전환됨
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var slides = document.getElementsByClassName('slides');
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = 'none';
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1;
            }
            slides[slideIndex - 1].style.display = 'block';
            setTimeout(carousel, 3000); // 변경 시간(밀리초)
        }

        const memberFood = () => {
            location.href = "/member/memberFood";
        }

        // modal-content-wrapper의 클릭 이벤트에 event.stopPropagation() 추가
        document.querySelector('.modal-content-wrapper').addEventListener('click', function (event) {
            event.stopPropagation();
        });


        function openModal(modalId1) {
            var modal1 = document.getElementById(modalId1);
            modal1.style.display = 'block';
            event.preventDefault(); // 폼 제출 동작 막기
        }

        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = 'none';
        }


        function stopUpdateOverTime() {
            clearTimeout(timerId); // 타이머를 멈추는 함수
        }


        const selectTime = (time, price) => {
            // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            console.log('Selected time:', time);
            console.log('Selected price:', price);
            // const memberId = document.querySelector('input[name="checkResult"]').value;
            var IMP = window.IMP;
            IMP.init('imp35682308');
            var money = price;
            console.log(money);

            IMP.request_pay({
                pg: 'kakaopay',
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: 'Q PC Room ' + time + '분 ' + price + '원',
                amount: money,
                buyer_email: 'iamport@siot.do',
                buyer_name: 'Q PC Room',
                buyer_tel: '010-1234-5678',
                buyer_addr: '인천광역시 부평구',
                buyer_postcode: '123-456'
            }, function (rsp) {
                console.log(rsp);
                if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    $.ajax({
                        type: "post",
                        url: "/payment/memberCharge",
                        contentType: "application/json",
                        data: JSON.stringify({
                            amount: money,
                            time: time,
                            memberId: document.getElementById("member-id").value
                        }),
                        // headers: {
                        //     "X-CSRF-TOKEN": csrfToken  // csrfToken은 CSRF 토큰 값으로 대체해야 합니다.
                        // }
                    }).then(res => {
                        alert(JSON.stringify(res));
                    }).catch(err => {
                        alert(err);
                    });
                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                }
                alert(msg);
                window.location.href = "/member/memberMain";
            });
        };

        const memberDetail = () => {
            const memberDetail = document.querySelector('#member-detail');
            const memberDetailModal = new bootstrap.Modal(memberDetail);
            memberDetailModal.show();
        }



        function logout() {
            const overTimeInMinutes = Math.floor(overTimeInSeconds / 60); // 초 단위를 분 단위로 변환
            // memberId 값을 가져와서 주소에 추가
            const id = document.getElementById('id').value;
            console.log("id=" + id);
            console.log("overTimeInMinutes=" + overTimeInMinutes);
            alert("잔여 시간"+overTimeInMinutes+"분이 저장됩니다.\n(초는 포함되지 않습니다.)");

            axios.post('/logout', null, {
                params: {
                    id: id,
                    overTime: overTimeInMinutes

                }
            }).then(res => {
                if (res) {
                    console.log(res);
                    // 성공적인 응답을 받은 경우, 원하는 URL로 리다이렉트
                    window.location.href = '/'; // 필요한 URL로 변경하세요
                }
            }).catch(err => {
                console.log("err", err);
            });


        }

        // 잔여시간을 초로 변환하는 함수
        function convertToSeconds(timeFormatted) {
            const timeParts = timeFormatted.split(':');
            let hours = parseInt(timeParts[0]);
            let minutes = parseInt(timeParts[1]);
            let seconds = hours * 3600 + minutes * 60;
            return seconds;
        }

        // 잔여시간 초 타이머
        const overTimeFormattedElement = document.getElementById('overTime');
        const overTime = overTimeFormattedElement.textContent;
        let overTimeInSeconds = convertToSeconds(overTime);
        let timerId; // 타이머 식별자 변수를 먼저 선언해줍니다.

        function startUpdateOverTime() {
            timerId = setTimeout(updateOverTime, 1000); // 1초 후에 잔여시간 업데이트 시작
        }

        function updateOverTime() {
            if (overTimeInSeconds > 0) {
                overTimeInSeconds--;
                let hours = Math.floor(overTimeInSeconds / 3600);
                let minutes = Math.floor((overTimeInSeconds % 3600) / 60);
                let seconds = overTimeInSeconds % 60;
                overTimeFormattedElement.textContent = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                setTimeout(updateOverTime, 1000);
            } else {
                // 잔여시간이 0이면 사용종료
                alert("잔여시간이 0분 남아서 자동종료됩니다.");
                logout();
            }
        }

        startUpdateOverTime();
      
  const memberPage = () => {
            location.href="/member/myPage";

        }


    </script>

    </body>
</th:block>
</html>
