<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>

    <th:block th:replace="component/adminNav :: adminNav"></th:block>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <!--        <th>id</th>-->
        <th> <input type="checkbox" id="check-all"> 전체선택 </th>
        <th>회원id</th>
        <th>회원이름</th>
        <th>회원생일</th>
        <th></th>

    </tr>
    <tr th:each="black: ${blackList}">
        <td>
            <input type="checkbox" class="member-checkbox" th:data-member-id="${black.id}">
        </td>
        <td th:text="${black.id}"></td>
        <td th:text="${black.memberLoginId}"></td>
        <td th:text="${black.memberName}"></td>
        <td th:text="${black.memberBirth}"></td>
        <!--        <td>-->
        <!--            <button th:onclick="member_black([[${black.id}]])">블랙풀기</button>-->
        <!--        </td>-->
    </tr>
</table>

<button id="addAllToBlackList">블랙풀기</button>
<a href="/admin/memberList">뒤로가기</a>
</body>
<script>
    const member_black = (id) => {
        console.log("id", id);
        const result = confirm("블랙해제를 하시겠습니까?");

        if (result) {
            // 확인 버튼을 클릭했을 때 실행되는 코드 블록
            console.log("사용자가 확인을 클릭했습니다.");
            location.href = "/admin/blackDelete?id=" + id;
        } else {
            // 취소 버튼을 클릭했을 때 실행되는 코드 블록
            console.log("사용자가 취소를 클릭했습니다.");
            return;
        }

    }
    const checkAll = document.getElementById('check-all');
    const checkboxes = document.querySelectorAll('.member-checkbox');

    checkAll.addEventListener('change', function () {
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = checkAll.checked;
        });
    });

    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkedCount = document.querySelectorAll('.member-checkbox:checked').length;
            checkAll.checked = checkedCount === checkboxes.length;
            checkAll.indeterminate = checkedCount > 0 && checkedCount < checkboxes.length;
        });
    });

    document.getElementById('addAllToBlackList').addEventListener('click', function () {
        const selectedCheckboxes = document.querySelectorAll('.member-checkbox:checked');
        const selectedMemberIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.getAttribute('data-member-id'));

        if (selectedMemberIds.length === 0) {
            // 선택된 회원 ID가 없는 경우 에러 처리
            alert("선택하신 회원이 없습니다");
            return;
        }

        if (selectedMemberIds.length > 0) {
            if (confirm(selectedMemberIds.join(', ') + "님(들)을 블랙해제 하시겠습니까?")) {
                const id = selectedMemberIds.join('&id=');
                location.href = "/admin/blackDelete?id=" + id;
            }
        }
    });

</script>
</html>