#sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 300px;
    width: 500px;
    background-color: #333;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#sidebar li {
    margin: 0 auto;
    padding: 0;
    display: block;
}

#sidebar a {
    text-align: right;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;

}


#sidebar a:hover {
    background-color: #333;
}

#main {
    margin-left: 200px;
    padding: 10px;
}

.toggle-button {
    cursor: pointer;
}

.member-area {
    margin: 0 auto;
}

.ad-area {
    display: block;
    background-color: #333;
    padding: 5px;
    transition: display 0.3s ease-in-out;
    width: 500px;
    position: fixed;
    right: 0.01px;





}

.ad-area.minimized {
    display: none;
}

#sidebar.minimized {
    position: fixed;
    top: 10px;
    height: 250px;
    width: 500px;
    background-color: #333;
    padding: 20px;
}

