<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<style>
    .fieldError {
        color: #bd2130;
    }
</style>
<body>
<div class="container" style="height: 300px"></div>
<div class="container">
    <form action="/member/save" method="post" th:object="${memberDTO}">
        <!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="member-email" name="memberEmail"
                   th:field="*{memberEmail}" placeholder="name@example.com">
            <label for="member-email">이메일 주소</label>
            <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" class="fieldError"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="member-id" name="memberId"
                   th:field="*{memberId}" placeholder="memberId">
            <label for="member-id">아이디</label>
            <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="fieldError"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="member-password" name="memberPassword"
                   th:field="*{memberPassword}" placeholder="memberPassword">
            <label for="member-password">비밀번호</label>
            <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" class="fieldError"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="member-name" name="memberName"
                   th:field="*{memberName}" placeholder="memberName">
            <label for="member-name">이름</label>
            <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" class="fieldError"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="member-birth" name="memberBirth"
                   th:field="*{memberBirth}" placeholder="memberBirth">
            <label for="member-birth">생년월일</label>
            <p th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}" class="fieldError"></p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="member-mobile" name="memberMobile"
                   th:field="*{memberMobile}" placeholder="memberMobile">
            <label for="member-mobile">전화번호</label>
            <p th:if="${#fields.hasErrors('memberMobile')}" th:errors="*{memberMobile}" class="fieldError"></p>
        </div>
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input type="submit" value="회원가입" class="btn btn-primary">
    </form>
</div>
<div class="container">
    <button class="btn btn-primary" onclick="emailCheck()">이메일 체크</button>
    <div id="email-check" style="display: none">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="inputCode" placeholder="인증번호 입력">
                <input type="hidden" name="code">
                <h5 id="input-code-bottom"></h5>
            </div>
            <div class="col">
                <button class="form-control" onclick="emailFinalCheck()">인증번호 확인</button>
            </div>
        </div>
    </div>
</div>
<a href="/member/login">로그인창</a>
</body>

<script th:inline="javascript">
    const emailCheck = () => {
        document.getElementById("email-check").style.display = "block";
        const email = document.querySelector('input[name="memberEmail"]').value;
        axios({
            method: "post",
            url: "/memberSave/mailConfirm",
            headers: {
                "Content-Type": "application/json"
            },
            data: {
                email: email
            }
        }).then(res => {
            alert("이메일로 인증번호가 발송되었습니다.");
            document.querySelector('input[name="code"]').value = res.data;
        }).catch(err => {
            console.log("실패");
        })
    }

    const emailFinalCheck = () => {
        const typingCode = document.querySelector('input[name="inputCode"]').value;
        const trueCode = document.querySelector('input[name="code"]').value;
        const result = document.getElementById("input-code-bottom");

        if(typingCode == trueCode) {
            result.innerText = "인증완료";
            result.style.color="green";
        }else {
            result.innerText = "인증코드 불일치";
            result.style.color="red";
        }
    }
    //회원가입 실패시 에러 메시지 출력
    $(document).ready(function(){
        const errorMessage = [[${errorMessage}]];
        if(errorMessage != null){
            alert(errorMessage);
        }
    });


</script>
</html>