<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <!--    <meta th:content="${_csrf.token}" name="_csrf">-->
    <!--    <meta th:content="${_csrf.parameterName}" name="_csrf_parameter_name">-->
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <style>

        .fieldError {
            color: #bd2130;
        }

        .error {
            color: #bd2130;
        }
        @font-face {
            font-family: 'Tmon';
            font-weight: normal;
            font-style: normal;
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmon/Tmon.eot');
        url('https://cdn.jsdelivr.net/gh/webfontworld/tmon/Tmon.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/tmon/Tmon.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/tmon/Tmon.ttf') format("truetype");
            font-display: swap;
        }
        body {
            background-color: #e3f2fd;
        }
        svg {
            font-family: 'Tmon';
            font-size: 140px;
            position: absolute;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            animation: stroke 5s 10 alternate;
            fill: rgba(72,138,204,1);
        }
        @keyframes stroke {
            0% {
                stroke-dashoffset: 25%;
                stroke-dasharray: 0 50%;
                fill: rgba(72,138,204,0);
                stroke: rgba(54,95,160,1);
                stroke-width: 2;
            }
            70% {
                fill: rgba(72,138,204,0);
                stroke: rgba(54,95,160,1);
            }
            80% {
                fill: rgba(72,138,204,0);
                stroke: rgba(54,95,160,1);
            }
            100% {
                stroke-dashoffset: -25%;
                stroke-dasharray: 50% 0;
                fill: rgba(72,138,204,1);
                stroke: rgba(54,95,160,0);
                stroke-width: 0;
            }
        }

        /* 모달창을 구성하는 스타일 */
        .modal {
            display: none; /* 초기에는 모달창 숨김 */
            position: fixed; /* 스크롤 내릴 때 위치 고정 */
            z-index: 9999; /* 수정: 모달창의 z-index 값을 높은 값으로 설정 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; /* 모달창을 스크롤 가능하게 함 */
            background-color: rgba(0, 0, 0, 0.4); /* 모달창 배경 투명도 조절 */
        }

        /* 모달창 내부 컨텐츠 표시 스타일 */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            z-index: 9999; /* 수정: 내부 컨텐츠의 z-index 값을 높은 값으로 설정 */
        }


        /* 모달창 내부 X 버튼 스타일 */
        .modal-close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        /* X 버튼 호버 스타일 */
        .modal-close:hover,
        .modal-close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* find, save 버튼 스타일 */
        button {
            padding: 25px;
            background-color: #262525;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        }

        footer {
            bottom: 50px;
            left: 0;
            height: 20vh;
            background-color: gray;
            width: 100%;
            padding: 30px;


        }

        .find-area {
            margin: 0 auto;
        }

    </style>
</head>
<body>

<input type="hidden" name="code">
<div class="container" style="position: relative;width: 100%; height: 80vh;">
    <img class="w-100 h-100" th:src="@{/img/testMain.png}" alt="Image 404 Error"
         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain;">


    <svg viewBox="0 0 1800 800"
         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        <text x="30%" y="50%" dy="30px" text-anchor="middle" font-family="Cursive">Q</text>
        <text x="55%" y="50%" dy="30px" text-anchor="middle" font-family="Cursive"> PC ROOM</text>
        <!-- SVG 효과 코드 -->
    </svg>
</div>


<!--회원가입 모달창-->
<div id="myModal" class="modal">
    <div class="modal-dialog modal-dialog-centered" style="max-height: 80vh; overflow-y: auto;">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <p style="text-align: center">회원가입</p>
            <div class="container">
                <form th:action="@{/member/save}" method="post" th:object="${memberDTO}">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="member-email" name="memberEmail"
                               th:field="*{memberEmail}" placeholder="name@example.com">
                        <label for="member-email">이메일 주소</label>
                        <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"
                           class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="member-modal-id" name="memberId"
                               th:field="*{memberId}" placeholder="memberId">
                        <label for="member-id">아이디</label>
                        <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="member-modal-password" name="memberPassword"
                               th:field="*{memberPassword}" placeholder="memberPassword">
                        <label for="member-password">비밀번호</label>
                        <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}"
                           class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="member-name" name="memberName"
                               th:field="*{memberName}" placeholder="memberName">
                        <label for="member-name">이름</label>
                        <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="member-birth" name="memberBirth"
                               th:field="*{memberBirth}" placeholder="memberBirth">
                        <label for="member-birth">생년월일</label>
                        <p th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}"
                           class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="member-mobile" name="memberMobile"
                               th:field="*{memberMobile}" placeholder="memberMobile">
                        <label for="member-mobile">전화번호</label>
                        <p th:if="${#fields.hasErrors('memberMobile')}" th:errors="*{memberMobile}"
                           class="fieldError"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="form-role">권한설정</label>
                        <select name="formRole" id="form-role" class="form-control">
                            <option value="member">Member</option>
                            <option value="admin">Admin</option>
                        </select>
                        <p th:if="${#fields.hasErrors('formRole')}" th:errors="*{formRole}"
                           class="fieldError"></p>
                    </div>
                    <input type="submit" value="회원가입" id="signSubmit" disabled="disabled" class="btn btn-primary">
                </form>
            </div>

            <div class="container">
                <button class="btn btn-primary"
                        onclick="emailCheck(document.querySelector('input[name=memberEmail]').value)">이메일 체크
                </button>
                <div id="email-check" style="display: none">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="inputCode" placeholder="인증번호 입력">
                            <h5 id="input-code-bottom"></h5>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" onclick="emailFinalCheck()">인증번호 확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 아이디 비밀번호 찾기 모달창 -->
<div id="idFindModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <span class="modal-close">&times;</span>

            <p>아이디/비밀번호 찾기</p>
        </div>
    </div>
</div>

<!-- 비밀번호 찾기 모달창 -->
<div id="pwFindModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <p>비밀번호 찾기</p>
        </div>
    </div>
</div>


<!-- 아이디 찾기 모달창 -->
<div id="idFindModal2" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <span class="modal-close">&times;</span>

            <p style="text-align: center">아이디 찾기</p>
            <input class="form-control" id="id-find-email" name="idFindEmail" type="email" placeholder="이메일">
            <button onclick="emailCheck(document.getElementById('id-find-email').value)">이메일 인증</button>
            <input class="form-control" name="idFindEmailCode" type="text" placeholder="인증번호 입력">
            <button onclick="idFindEmailFinalCheck()">인증번호 확인</button>
            <h5 id="idFind-code-bottom"></h5>
        </div>
    </div>
</div>

<!-- 찾은 아이디 정보 알려주는 모달창-->
<div id="idFindResultModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <p style="text-align: center; align-items: center" id="idFindResultId"></p>
        </div>
    </div>
</div>

<!-- 비밀번호 찾기 모달창 -->
<div id="pwFindModal2" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <span class="modal-close" onclick="document.querySelector('#pwFindModal2').style.display = 'none'">&times;</span> <!-- here -->

            <p style="text-align: center">비밀번호 찾기</p>
            <input class="form-control" name="pwFindEmail" type="email" placeholder="이메일">
            <button onclick="emailCheck(document.querySelector('input[name=pwFindEmail]').value)">이메일 인증</button>
            <input class="form-control" name="pwFindEmailCode" type="text" placeholder="인증번호 입력">
            <h5 id="pwFind-code-bottom"></h5>
            <input class="form-control" type="text" placeholder="아이디">
            <button onclick="pwFindEmailFinalCheck()">비밀번호 찾기</button>
        </div>
    </div>
</div>


<!-- 아이디 확인 모달 -->
<div class="modal fade" id="payReload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pay-reload">요금 충전을 위한 계정 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="member-check"
                           name="checkResult" placeholder="회원체크를 위한 아이디나 이름을 입력해주세요">
                    <label for="member-check">아이디 입력</label>
                    <p th:if="${findByIdErrorMsg}" class="error" th:text="${findByIdErrorMsg}"></p>
                </div>
                <button class="btn btn-primary" onclick="memberCheck()">회원 확인</button>
            </div>
        </div>
    </div>
</div>

<!--    요금충전 버튼 모달 -->
<div class="modal fade" id="payReloadButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">시간 선택</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold">카카오페이 현재 사용가능</p>
                <div class="row">
                    <button class="col-6 btn btn-primary" onclick="selectTime('50', '1000')">50분 1000원</button>
                    <button class="col-6 btn btn-primary" onclick="selectTime('100', '2000')">1시간40분 2000원</button>
                    <button class="col-6 btn btn-primary" onclick="selectTime('150', '3000')">2시간30분 3000원</button>
                    <button class="col-6 btn btn-primary" onclick="selectTime('300', '5000')">5시간 5000원</button>
                    <button class="col-6 btn btn-primary" onclick="selectTime('420', '7000')">7시간 7000원</button>
                    <button class="col-6 btn btn-primary" onclick="selectTime('660', '10000')">11시간 10000원</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="code">
<div class="container" style="height: 80vh;">
    <img class="w-100 h-100" th:src="@{/img/testMain.png}" alt="Image 404 Error">
</div>
</body>

<footer>
    <div style="text-align: center">
        <div class="row text-center justify-content-center">
            <div class="col-4">
                <form th:action="@{/member/login}" method="post" id="loginForm" th:object="${memberDTO}">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <input type="text" id="member-id" class="form-control" name="memberId"
                                       th:field="*{memberId}" placeholder="아이디 입력">
                            </div>
                            <div class="form-group">
                                <input type="password" id="member-password" class="form-control" name="memberPassword"
                                       th:field="*{memberPassword}" placeholder="비밀번호 입력">
                            </div>
                            <div class="form-group">
                                <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                            </div>
                        </div>
                        <div class="col-4">
                            <!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                            <button type="submit">로그인</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2">
                <button type="button" data-bs-toggle="modal" data-bs-target="#payReload">요금충전</button>
            </div>
            <div class="col-2">
                <button onclick="adminLogin()">관리자로 로그인</button>
            </div>
            <div class="col-4">
                <div class="find-area">
                    <button id="btnSave">회원가입</button>
                    <button id="btnFind">아이디/비밀번호 찾기</button>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- javascript 코드 -->
<script>
    // 모든 모달 창 닫기 함수
    function closeAllModals() {
        var modals = document.getElementsByClassName("modal");
        for (var i = 0; i < modals.length; i++) {
            modals[i].style.display = "none";
        }
    }

    // 모든 모달 창에 대해 클릭 이벤트 처리
    var modalCloseButtons = document.getElementsByClassName("modal-close");
    for (var i = 0; i < modalCloseButtons.length; i++) {
        modalCloseButtons[i].addEventListener("click", closeAllModals);
    }

    // 모든 모달창 가져오기
    var modal = document.getElementById("myModal");
    var idFindModal = document.getElementById("idFindModal");
    var pwFindModal = document.getElementById("pwFindModal");
    var idResultModal = document.getElementById("idFindResultModal");
    var idFindModal2 = document.getElementById("idFindModal2");
    var pwFindModal2 = document.getElementById("pwFindModal2");

    // 모달창을 띄우는 버튼 가져오기
    var btnFind = document.getElementById("btnFind");
    var btnSave = document.getElementById("btnSave");

    // X 버튼 가져오기
    var spanClose = document.getElementsByClassName("modal-close")[0];

    // 버튼 클릭시 모달창 띄우기
    btnFind.onclick = function () {
        idFindModal.style.display = "block";
    };
    btnSave.onclick = function () {
        modal.style.display = "block";
    };

    // X 버튼 클릭시 모달창 닫기
    spanClose.onclick = function (event) {
        closeAllModals(); // 모든 모달창 닫기 함수 호출
    };

    // 모달창 외부 클릭시 모달창 닫기
    window.onclick = function (event) {
        if (event.target == modal || event.target == idFindModal || event.target == pwFindModal) {
            closeAllModals(); // 모든 모달창 닫기 함수 호출
        }
    };

    // 아이디찾기, 비밀번호찾기 버튼 클릭시 모달창 바꾸기
    var btnFindId = document.createElement("button");
    btnFindId.innerHTML = "아이디 찾기";
    btnFindId.onclick = function () {
        idFindModal.style.display = "none";
        modal.style.display = "none";
        document.getElementById("idFindModal2").style.display = "block";
    }

    var btnFindPw = document.createElement("button");
    btnFindPw.innerHTML = "비밀번호 찾기";
    btnFindPw.onclick = function () {
        idFindModal.style.display = "none";
        modal.style.display = "none";
        document.getElementById("pwFindModal2").style.display = "block";
    }

    idFindModal.getElementsByClassName("modal-content")[0].appendChild(btnFindId);
    idFindModal.getElementsByClassName("modal-content")[0].appendChild(btnFindPw);


    // X 버튼 가져오기
    var spanCloseIdFind = document.getElementsByClassName("modal-close")[1];
    var spanClosePwFind = document.getElementsByClassName("modal-close")[2];
    var spanCloseIdFind2 = document.getElementsByClassName("modal-close")[3];
    var spanClosePwFind2 = document.getElementsByClassName("modal-close")[4];


    // X 버튼 클릭시 모달창 닫기
    spanCloseIdFind.onclick = function (event) {
        idFindModal.style.display = "none";
    };
    spanClosePwFind.onclick = function (event) {
        pwFindModal.style.display = "none";
    };
    spanCloseIdFind2.onclick = function (event) {
        idFindModal2.style.display = "none";
    };
    spanClosePwFind2.onclick = function (event) {
        pwFindModal2.style.display = "none";
    };





</script>


<script th:inline="javascript">
    const emailCheck = (email) => {
        document.getElementById("email-check").style.display = "block";
        const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        if (email.length === 0) {
            alert("이메일을 입력해주세요")
        } else if (!emailPattern.test(email)) {
            alert("유효한 이메일 주소를 입력해주세요");
        } else {
            axios({
                method: "post",
                url: "/memberSave/mailConfirm",
                headers: {
                    "Content-Type": "application/json",
                },
                data: {
                    email: email,
                }
            }).then(res => {
                alert("이메일로 인증번호가 발송되었습니다.");
                document.querySelector('input[name="code"]').value = res.data;
            }).catch(err => {
                console.log(err);
            });
        }
    }

    const emailFinalCheck = () => {
        const typingCode = document.querySelector('input[name="inputCode"]').value;
        const trueCode = document.querySelector('input[name="code"]').value;
        const result = document.getElementById("input-code-bottom");

        if (typingCode == trueCode) {
            document.getElementById("signSubmit").disabled=false;
            result.innerText = "인증완료";
            result.style.color = "green";
        } else {
            result.innerText = "인증코드 불일치";
            result.style.color = "red";
        }
    }

    const idFindEmailFinalCheck = () => {
        const email = document.querySelector('input[name="idFindEmail"]').value;
        const typingCode = document.querySelector('input[name="idFindEmailCode"]').value;
        const trueCode = document.querySelector('input[name="code"]').value;
        const result = document.getElementById("idFind-code-bottom");

        if (typingCode == trueCode) {
            alert("인증완료");
            // 다음 모달 띄우기
            axios.get("/member/findById/email_check", {
                params: {
                    memberEmail: email,
                }
            }).then(res => {
                idFindModal.style.display = "none";
                idResultModal.style.display = "block";
                document.getElementById("idFindResultId").innerText="회원님의 아이디는 "+ res.data+"입니다.";
            }).catch(err => {
                result.innerText=err.data;
            });
        } else {
            result.innerText = "인증코드 불일치";
            result.style.color = "red";
        }
    }


    const pwFindEmailFinalCheck = () => {
        const typingCode = document.querySelector('input[name="pwFindEmailCode"]').value;
        const trueCode = document.querySelector('input[name="code"]').value;
        const result = document.getElementById("pwFind-code-bottom");

        if (typingCode == trueCode) {
            result.innerText = "인증완료";
            result.style.color = "green";
            // 다음 모델 띄우기
        } else {
            result.innerText = "인증코드 불일치";
            result.style.color = "red";
        }
    }
    //회원가입 실패시 에러 메시지 출력
    $(document).ready(function () {
        const errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }
    });

</script>

<script th:inline="javascript">
    //로그인 실패시 에러 메시지 출력
    $(document).ready(function () {
        const errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }
    });


</script>

<script th:inline="javascript">

    const memberCheck = () => {
        const typingKeyword = document.querySelector('input[name="checkResult"]').value;
        // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

        axios({
            method: "post",
            url: "/payment/findById",
            headers: {
                "Content-Type": "application/json",
                // "X-CSRF-Token": csrfToken
            },
            data: {
                keyword: typingKeyword
            }
        }).then(res => {
            console.log(res.data);

            const payReload = document.querySelector('#payReload');
            const payReloadModal = bootstrap.Modal.getInstance(payReload);
            payReloadModal.hide();

            const payReloadButton = document.querySelector('#payReloadButton');
            const payReloadButtonModal = new bootstrap.Modal(payReloadButton);
            payReloadButtonModal.show();
            document.getElementById("member-id").value = res.data;
        }).catch(err => {
            alert(typingKeyword + "이라는 회원은 없습니다");
        })
    }

    const selectTime = (time, price) => {
        // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        console.log('Selected time:', time);
        console.log('Selected price:', price);
        // const memberId = document.querySelector('input[name="checkResult"]').value;
        var IMP = window.IMP;
        IMP.init('imp35682308');
        var money = price;
        console.log(money);

        IMP.request_pay({
            pg: 'kakaopay',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: 'Q PC Room ' + time + '분 ' + price + '원',
            amount: money,
            buyer_email: 'iamport@siot.do',
            buyer_name: 'Q PC Room',
            buyer_tel: '010-1234-5678',
            buyer_addr: '인천광역시 부평구',
            buyer_postcode: '123-456'
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                $.ajax({
                    type: "post",
                    url: "/payment/memberCharge",
                    contentType: "application/json",
                    data: JSON.stringify({
                        amount: money,
                        time: time,
                        memberId: document.getElementById("member-id").value
                    }),
                    // headers: {
                    //     "X-CSRF-TOKEN": csrfToken  // csrfToken은 CSRF 토큰 값으로 대체해야 합니다.
                    // }
                }).then(res => {
                    alert(JSON.stringify(res));
                }).catch(err => {
                    alert(err);
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
            document.location.href = "/"; //alert창 확인 후 이동할 url 설정
        });
    };


    // 버튼을 눌러서 바로 관리자로 로그인하기
    const adminLogin = () => {
        const form = document.getElementById("loginForm");

        form['member-id'].value = "admin";
        form['member-password'].value = "1234";

        form.submit();
    }
</script>


</html>
