<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="component/config :: config"></th:block>
</head>
<style>
  .error {
    color: #bd2130;
  }
</style>
<body>
<form action="/member/login" method="post" th:object="${memberDTO}">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="member-id" name="memberId"
           th:field="*{memberId}" placeholder="memberId">
    <label for="member-id">아이디</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="member-password" name="memberPassword"
           th:field="*{memberPassword}" placeholder="memberPassword">
    <label for="member-password">비밀번호</label>
  </div>
  <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
  <div style="text-align:center" class="py-3">
    <button type="submit" class="btn btn-outline-dark">로그인</button>
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/'">회원가입</button>
  </div>

</form>
</body>
<script th:inline="javascript">
  //로그인 실패시 에러 메시지 출력
  $(document).ready(function(){
    const errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
      alert(errorMessage);
    }
  });
</script>
</html>