<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
<!--    <meta th:content="${_csrf.token}" name="_csrf">-->
<!--    <meta th:content="${_csrf.parameterName}" name="_csrf_parameter_name">-->
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>

<body>
<input type="text" id="member-id" name="memberId">
<div class="container" style="height: 70%;">
    <img class="w-100 h-100" th:src="@{/img/testMain.png}" alt="Image 404 Error">
</div>
<div class="container mt-4">
    <button class="btn btn-primary" onclick="loginForm()">로그인</button>
    <button class="btn btn-primary" onclick="sign()">회원가입</button>
    <!-- 요금 충전 버튼 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#payReload">
        요금 충전
    </button>

    <!-- 아이디 확인 모달 -->
    <div class="modal fade" id="payReload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pay-reload">요금 충전을 위한 계정 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="member-check"
                               name="checkResult" placeholder="회원체크를 위한 아이디나 이름을 입력해주세요">
                        <label for="member-check">아이디 입력</label>
                        <p th:if="${findByIdErrorMsg}" class="error" th:text="${findByIdErrorMsg}"></p>
                    </div>
                    <button class="btn btn-primary" onclick="memberCheck()">회원 확인</button>
                </div>
            </div>
        </div>
    </div>

<!--    요금충전 버튼 모달 -->
    <div class="modal fade" id="payReloadButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">시간 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-weight: bold">카카오페이 현재 사용가능</p>
                    <div class="row">
                        <button class="col-6 btn btn-primary" onclick="selectTime('50', '1000')">50분 1000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('100', '2000')">1시간40분 2000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('150', '3000')">2시간30분 3000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('300', '5000')">5시간 5000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('420', '7000')">7시간 7000원</button>
                        <button class="col-6 btn btn-primary" onclick="selectTime('660', '10000')">11시간 10000원</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

    const memberCheck = () => {
        const typingKeyword = document.querySelector('input[name="checkResult"]').value;
        // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

        axios({
            method: "post",
            url: "/payment/findById",
            headers: {
                "Content-Type": "application/json",
                // "X-CSRF-Token": csrfToken
            },
            data: {
                keyword: typingKeyword
            }
        }).then(res => {
            console.log(res.data);

            const payReload = document.querySelector('#payReload');
            const payReloadModal = bootstrap.Modal.getInstance(payReload);
            payReloadModal.hide();

            const payReloadButton = document.querySelector('#payReloadButton');
            const payReloadButtonModal = new bootstrap.Modal(payReloadButton);
            payReloadButtonModal.show();
            document.getElementById("member-id").value = res.data;
        }).catch(err => {
            alert(typingKeyword + "이라는 회원은 없습니다");
        })
    }

    const selectTime = (time, price) => {
        // const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        console.log('Selected time:', time);
        console.log('Selected price:', price);
        var IMP = window.IMP;
        IMP.init('imp35682308');
        var money = price;
        console.log(money);

        IMP.request_pay({
            pg: 'kakaopay',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: 'Q PC Room '+time+'분 '+price+'원',
            amount: money,
            buyer_email: 'iamport@siot.do',
            buyer_name: 'Q PC Room',
            buyer_tel: '010-1234-5678',
            buyer_addr: '인천광역시 부평구',
            buyer_postcode: '123-456'
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                $.ajax({
                    type: "post",
                    url: "/payment/memberCharge",
                    contentType: "application/json",
                    data: JSON.stringify({
                        amount: money,
                        time: time,
                        memberId: document.getElementById("member-id").value
                    }),
                    // headers: {
                    //     "X-CSRF-TOKEN": csrfToken  // csrfToken은 CSRF 토큰 값으로 대체해야 합니다.
                    // }
                }).then(res => {
                    alert(JSON.stringify(res));
                }).catch(err => {
                    alert(err);
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
            document.location.href="/";
        });
    };

    const loginForm = () => {
        location.href="/member/login";
    }

    const sign = () => {
        location.href="/payment/index";
    }

</script>
</html>